<div class="job-detail">
    <div>id: {{job.id}}</div>
    <div>type: {{job.type}}</div>
    <div>state: {{job.state}}</div>
    <div>created_at: {{job.created_at}}</div>
    <div>updated_at: {{job.updated_at}}</div>
    <div>Update state: {{view Ember.Select content=selections selection=selected}}</div>
</div>

