<ul>
    <li> {{#link-to "active"}} Active ({{stats.activeCount}}) {{/link-to}} </li>
    <li> {{#link-to "inactive"}} Inactive ({{stats.inactiveCount}}) {{/link-to}} </li>
    <li> {{#link-to "failed"}} Failed ({{stats.failedCount}}) {{/link-to}} </li>
    <li> {{#link-to "complete"}} Complete ({{stats.completeCount}}) {{/link-to}} </li>
    <li> {{#link-to "delayed"}} Delayed ({{stats.delayedCount}}) {{/link-to}} </li>
</ul>
