<h3>Stats</h3>
activeCount: {{model.activeCount}} <br>
completeCount: {{model.completeCount}} <br>
delayedCount: {{model.delayedCount}} <br>
failedCount: {{model.failedCount}} <br>
inactiveCount: {{model.inactiveCount}} <br>
